/* General Styles */
body {
    font-family: 'Italiana', serif;
    font-weight: 400;
    font-size: 1.8em;
    line-height: 1.6; 
    letter-spacing: 0.5px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f2f2f2;
}

header {
    
    width: 100%;
    max-width: 1040px; 
    height: 123px; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 0 20px;
    font-family: 'Italiana', serif;
    font-weight: 400;
    font-size: 0.8em; 
    color: #333;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.nav-left, .nav-center, .nav-right {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-left {
    margin-right: 86px; 
}

.nav-center {
    justify-content: center;
    flex-grow: 1;
    gap: 40px; 
}

.nav-left li a, .nav-center li a, .nav-right li a {
    text-decoration: none;
    color: #333;
    font-family: 'Italiana', serif;
    font-size: 1em;
    font-weight: 400;
    margin-right: 20px;
}
.nav-right {
    display: flex;
    align-items: center; 
    margin-left: 86px;
}

/*Contact Button*/

.contact-btn {
    display: inline-flex;
    position: relative;
    top: 15px;
    align-items: center; 
    justify-content: center;
    font-family: 'Italiana', serif;
    font-size: 0.8em;
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 10px;
    height: 30px; 
    line-height: normal; 
    transition: all 0.3s ease;
}

.contact-btn:hover {
    background-color: #000;
    color: #fff;
}

/* Hero Section */
.hero {
    width: 1040px;
    height: 360px;
    overflow: hidden;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Intro Section */
.intro {
    text-align: center;
    margin: 30px auto;
    padding: 0 20px;
}

.intro h1 {
    font-family: 'Italiana', serif;
    font-size: 2.8em; 
    margin-bottom: 32px; 
    line-height: 1.2; 
    color: #000;
}

.intro .intro-text {
    font-family: 'Italiana', serif; 
    font-size: 0.8em; 
    line-height: 1;
    margin-bottom: 32px; 
    color: #333; 
}

.contact-btn {
    display: inline-block;
    font-family: 'Italiana', serif; 
    font-size: 1em; 
    background-color: transparent; 
    color: #000; 
    border: 2px solid #000; 
    padding: 10px 15px; 
    text-decoration: none; 
    border-radius: 15px; 
    margin-bottom: 32px; 
    transition: all 0.3s ease; 
}

/* My Projects Section */
.projects {
    text-align: center;
    padding: 20px 0;
    max-width: 1040px;
    margin: 0 auto;
}

.project-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
    max-width: 1040px;
}

.project {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    flex: 1;
    max-width: 325px;
    text-align: left; 
}

.project img {
    width: 325px; 
    height: 280px; 
    object-fit: cover; 
    border-radius: 30px 30px 0 0; 
}

.project h3 {
    margin: 5px 0 0; 
    font-size: 0.8em; 
    text-align: left; 
   }

.project p {
    margin: 0.8px 0 0; 
    font-size: 0.8em; 
    text-align: left; 
    margin-bottom: 80px; 
}

.projects h2 {
    font-size: 0.8em; 
    margin-bottom: 80px; 
    text-align: center; 
}

.work-process {
    background: linear-gradient(to bottom, #e4e3e3, #f2f2f2); 
    border-radius: 10px;
    padding: 30px 20px; 
    text-align: center; 
    margin-top: 240px; 
}

.work-process-title {
    font-family: 'Italiana', serif;
    font-size: 0.8em; 
    text-align: center;
    margin: 0 auto 20px; 
    color: #333; 
}

.process-step {
    max-width: 1040px; 
    margin: 20px auto; 
    padding: 15px 0; 
    position: relative;
    border-bottom: 1px solid #ddd; 
    text-align: left; 
}

.process-step h3 {
    font-size: 2.3em; 
    margin-bottom: 10px; 
    text-align: left; 
    position: relative;
}

.process-step p {
    font-size: 1.2em; 
    line-height: 1.6; 
    margin-top: 10px; 
}

.process-step::after {
    content: attr(data-step); 
    position: absolute;
    top: 50%; 
    right: -50px; 
    transform: translateY(-50%);
    font-size: 1.2em; 
    color: #333; 
    width: 30px;
    height: 30px;
    border: 2px solid #333; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent; 
}


/* Contact Section */
.contact-section {
    background-color: #2a2a2a; 
    width: fill; 
    margin: 0 auto; 
    padding: 30px 0;
    border-radius: 10px 10px 0px 0px; 
}

.contact {
    width: 504px; 
    margin: 0 auto; 
    text-align: center;
    color: #fff;
    font-family: 'Italiana', serif;
}

.contact h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.contact p {
    font-size: 0.7em;
    margin-bottom: 40px;
    color: #ddd;
}

form {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center;
}

form input, form textarea {
    width: calc(50% - 5px); 
    padding: 10px; 
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 0.7em; 
    background-color: #333; 
    color: #fff; 
    font-family: 'Italiana', serif;
    box-sizing: border-box;
}

form textarea {
    width: 100%; 
    height: 80px; 
}

form button {
    width: 150px; 
    margin: 20px auto 0;
    background-color: #2a2a2a;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 15px;
    font-size: 0.7em; 
    border-radius: 10px;
    margin-bottom: 240px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Italiana', serif;
}

form button:hover {
    background-color: #fff;
    color: #2a2a2a;
}

/* Footer Section */
.footer {
    background-color: #2a2a2a; 
    width: 100%; 
    height: 104px; 
    padding: 0; 
    position: relative; 
}

.footer::before {
    content: ""; 
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 1px;
    border-top: 1px dotted #7f7f7f; 
}

.footer-content {
    width: 1040px; 
    height: 100%; 
    margin: 0 auto; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    color: #7f7f7f;
    font-family: 'Italiana', serif; 
    font-size: 0.7em; 
}

.footer-name {
    margin: 0; 
}

/*Mobile menu*/


@media (max-width; 768:)/*tablet screen max width 768px*/

.hamburger {
    display: block;
}

.menu {
    display: none;
}

.hamburger {
    width: 40px;
    hight: 40px;
    transform; rotate(90deg);
}

.hamburger span {
    border: 2px solid black;
    width: 100%;
    display: inline;
    min-width: 10px;
    padding: 1px;
    background: #000;
    margin: 1px;
}


.social-links a {
    margin: 0 10px; 
    color: #7f7f7f; 
    text-decoration: none; 
}

.social-links a:hover {
    text-decoration: underline; 
}